= form_for([@goal, @point || Point.new], url: goals_points_path, html: { class: 'form-horizontal large' }) do |f|
  .form-group
    .col-sm-2
      = f.label :quantity, class: 'control-label'
    .col-sm-10
      = f.number_field :quantity, required: true, step: '0.1', class: 'form-control'
      %span.help-block How many of what you're doing, that you did (required).
  .form-group
    .col-sm-2
      = f.label :comments, class: 'control-label'
    .col-sm-10
      = f.text_field :comments, class: 'form-control col-sm-10'
      %span.help-block Leave yourself a note (optional).
  .form-group
    .col-sm-2
    .col-sm-8
      = f.submit 'Save my progress', class: 'btn btn-primary'
      = link_to 'Cancel', '/my-goal', class: 'btn btn-default'
