- if user_signed_in?
  %span= "Hi, #{user_name(current_user)}"
  .controls
    - if current_user.goal
      = link_to icon('cog'), edit_goals_path
    = link_to icon('sign-out'), destroy_user_session_path, method: :delete, 
        class: 'has-tooltip', data: { toggle: 'tooltip', placement: 'bottom', original_title: 'Logout' }, title: 'Logout'
- else
  %span SIGN IN WITH:
  .providers
    = link_to icon('google-plus-square'), user_omniauth_authorize_path(provider: :google_oauth2)
    = link_to icon('twitter-square'), user_omniauth_authorize_path(provider: :twitter)
    = link_to icon('facebook-square'), user_omniauth_authorize_path(provider: :facebook)
