= simple_form_for @goal, url: goals_path, :html => { :class => 'form-horizontal large' } do |f|
  = f.input :description
  = f.input :quantity
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), goals_path, :class => 'btn btn-default'
