- model_class = Goal

- if @goal
  %p
    %h2.lead
      = @goal.description

  %h4
    Progress
    %strong.pull-right= "#{'%.2f' % @goal.current_quantity} / #{@goal.quantity}"
  .progress
    .progress-bar{ style: "width: #{100 * @goal.current_quantity / @goal.quantity}%;"}

  .row
    .col-md-3.status
      %h3 As of yesterday
      = dist_diff(@q_by_today, @goal.current_quantity)

    .col-md-3.status
      %h3 As of today
      = dist_diff(@q_by_tomorrow, @goal.current_quantity)

    .col-md-3.status
      %h3 By end of week
      = dist_diff(@q_by_week, @goal.current_quantity)

    .col-md-3.status
      %h3 By end of month
      = dist_diff(@q_by_month, @goal.current_quantity)
- else
  .alert.alert-box.alert-info
    You haven't set your goal yet. Hurry up 
    = link_to 'and set your goal', new_goals_path
    now to get started on making 2014 great!

- content_for :ps do
  = render 'points/new'
