!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "THIS YEAR I"
    = csrf_meta_tags
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Coustard:400,900"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Titillium+Web:900,700"
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'

    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.png', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    = render 'misc/analytics'

  %body
    .wrap
      .navbar.navbar-static-top
        .container
          .navbar-brand
            %a(href="/") THIS YEAR I
            %div.slogan
              SET ONE QUANTIFIABLE GOAL<br/>
              AND TRACK YOUR PROGRESS TOWARD IT
          .navbar-right.user-nav
            = render 'misc/login'

      .container.main
        .row
          .col-lg-12
            = bootstrap_flash
            /= link_to 'What is this?', '#', class: 'loud pull-right'
            .well
              = yield
            .ps
              = yield :ps
    %footer
      .container
        %span.hello
          Say hello. <a href="mailto:hello@thisyeari.com" class="first">hello@thisyeari.com</a>
          <a href="http://twitter.com/thisyeariapp">@thisyeariapp</a>

        %span.pull-right
          = link_to 'About', '/about'
          = link_to 'Demo', '/demo'
          = link_to 'Privacy Policy', '/privacy-policy'
          &copy; 2014 thisyeari.com 














